* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
}

.logo a{
    font-size: 35px; 
    font-weight: 600; 
    color: white;
    text-decoration: none;
}

nav{
    width: 100%;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0px 5px;
}

nav ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display:block;
    padding: 20px 25px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: #22438c;
    position: absolute;
    z-index: 999;
    display: none;
    padding-left: 0;
}

ul li a:hover {
    color: #112C66;
}

ul li ul.dropdown a:hover {
    background: #112C66
}

ul li:hover ul.dropdown {
    display: block;
    color: #fff;
}

#hmpage_image {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

#title_sec {
    align-items: center;

}

#link_sec {
    padding: 25px;
}

.recipe_card {
    background-color: whitesmoke;
    width: 300px;
    height: 350px;
    text-decoration: none;
    align-items: center;
    border-width:100px ;
    border-color: rgb(136, 89, 89);
}


#footer {
    background-color: darkgoldenrod;
    width:100%;
    height: 200px;
}